# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

discordbot/.env
.env
/.idea

# Dependency directories (remove the comment below to include it)
# vendor/

# Frontend
# dependencies
/scheduler-frontend/node_modules
/scheduler-frontend/.pnp
/scheduler-frontend/.pnp.js

# testing
/scheduler-frontend/coverage

# production
/scheduler-frontend/build

# misc
/scheduler-frontend/.DS_Store
/scheduler-frontend/.env.local
/scheduler-frontend/.env.development.local
/scheduler-frontend/.env.test.local
/scheduler-frontend/.env.production.local

/scheduler-frontend/npm-debug.log*
/scheduler-frontend/yarn-debug.log*
/scheduler-frontend/yarn-error.log*